<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.drunck.mapper.SysPrivilageMapper">
	<resultMap id="BaseResultMap" type="com.drunck.domain.SysPrivilage">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="res_key" property="resKey" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="is_menu" property="isMenu" jdbcType="BIT" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="ChildrenResultMap" type="com.drunck.domain.SysPrivilage" extends="BaseResultMap">
		<collection property="children" ofType="com.drunck.domain.SysPrivilage" column="id">  
            <id column="cid" property="id" jdbcType="VARCHAR" />
			<result column="cname" property="name" jdbcType="VARCHAR" />
			<result column="cres_key" property="resKey" jdbcType="VARCHAR" />
			<result column="curl" property="url" jdbcType="VARCHAR" />
			<result column="cdescription" property="description" jdbcType="VARCHAR" />
			<result column="cis_menu" property="isMenu" jdbcType="BIT" />
			<result column="cparent_id" property="parentId" jdbcType="VARCHAR" />
			<result column="ccreate_time" property="createTime" jdbcType="TIMESTAMP" />
			<result column="cupdate_time" property="updateTime" jdbcType="TIMESTAMP" />
        </collection>
	</resultMap>
	<sql id="Base_Column_List">
		id, name, res_key, url, description, is_menu, parent_id, create_time,
		update_time
	</sql>
	<select id="queryPrivilagesByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
		<![CDATA[SELECT p.id,p.name,p.res_key,p.url,p.description,p.is_menu,p.parent_id,p.create_time,p.update_time FROM sys_privilage p 
		LEFT JOIN sys_role_privilage rp ON p.id=rp.privilage_id 
		LEFT JOIN sys_user_role ur ON rp.role_id=ur.role_id 
		LEFT JOIN sys_admin u ON ur.user_id=u.id 
		WHERE u.id=#{userId} ]]>
	</select>
	
	<select id="queryMenuByRoleId" parameterType="java.lang.String" resultMap="ChildrenResultMap">
		<![CDATA[SELECT p.id,p.name,p.res_key,p.url,p.description,p.is_menu,p.parent_id,p.create_time,p.update_time, 
		cp.id cid,cp.name cname,cp.res_key cres_key,cp.url curl,cp.description cdescription, 
		cp.is_menu cis_menu,cp.parent_id cparent_id,cp.create_time ccreate_time,cp.update_time cupdate_time 
		FROM sys_role_privilage rp 
		LEFT JOIN sys_privilage p ON rp.privilage_id=p.id 
		LEFT JOIN (
		SELECT ctp.id,ctp.name,ctp.res_key,ctp.url,ctp.description,ctp.is_menu,ctp.parent_id,ctp.create_time,ctp.update_time 
		FROM sys_role_privilage crp LEFT JOIN sys_privilage ctp ON crp.privilage_id=ctp.id 
		WHERE crp.role_id=#{roleId} 
		) cp ON p.id=cp.parent_id 
		WHERE rp.role_id=#{roleId} AND p.is_menu=1 AND p.parent_id='0' ]]>
	</select>
	
	<select id="queryTree" resultMap="ChildrenResultMap">
		<![CDATA[SELECT p.id,p.name,p.res_key,p.url,p.description,p.is_menu,p.parent_id,p.create_time,p.update_time, 
		cp.id cid,cp.name cname,cp.res_key cres_key,cp.url curl,cp.description cdescription, 
		cp.is_menu cis_menu,cp.parent_id cparent_id,cp.create_time ccreate_time,cp.update_time cupdate_time 
		FROM sys_privilage p 
		LEFT JOIN sys_privilage cp ON p.id=cp.parent_id 
		WHERE p.parent_id='0' ]]> 
	</select>
</mapper>