<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.drunck.mapper.SysRolePrivilageMapper">
	<resultMap id="BaseResultMap" type="com.drunck.domain.SysRolePrivilage">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="VARCHAR" />
		<result column="privilage_id" property="privilageId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, role_id, privilage_id
	</sql>
</mapper>